form {
    padding: 1em;
}

#country{
    max-width: 200px;
}

.form-title{
    font-size: 2em;
    font-family: "Raleway", Calibri, 'Trebuchet MS', sans-serif;
}

input.submit{
    background-color: #d5a251;
    border-radius: 10px 10px 10px 10px;
    width: 50%;
    height: 50px;
    font-family: "Raleway", Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-bottom: 2em;
    width: 100%;
}

@media only screen and (min-width: 34.5em) {
    #temple-container{
        grid-column: 1/3;
    }

}